.SequenceCreate {

  .color-duration {
    margin: 1em 0;

   span.color-swatch {
     display: inline-block;
     width: 80%;
     margin-right: 5px;
     border: 1px solid #CCC;
     border-radius: 5px;
   }
  }
}
