.SequenceCreate {

  .color-duration {
    padding: 2px 0;
    margin: 0.8em 0;

   span.color-swatch {
     display: inline-block;
     width: 80%;
     margin-right: 5px;
     border: 1px solid #CCC;
     border-radius: 5px;
   }
  }

  .color-duration:hover {
    background-color: #EEE;
  }
}
