.SequenceControl {

  .drag-handle {
    cursor: move;
    font-size: 2.5rem;
  }

  .sequence.row {
    margin-bottom: 1rem;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 10px;

    button {
      margin-top: 1.5rem;
      padding: 0 3%;
    }
  }

  .sequence.row:hover {
    border-color: #AAA;
  }
}
